.links {

	list-style: none;
	text-decoration: none;
	background: darkmagenta;
	font-size: 20px;
    
}

.navlink {
	color: white;
    border-top: 2px solid black ;
    /* border-bottom: 2px solid black; */
}

.navlink :hover{
	color: red;
}
